[Unit]
Description=VNC Per-Connection Server

[Service]
# Include common nemo project wide env settings, e.g. LIPSTICK2VNC_OPTS
EnvironmentFile=-/var/lib/environment/nemo/*.conf
ExecStart=-/usr/bin/lipstick2vnc $LIPSTICK2VNC_OPTS
ExecReload=/bin/kill -HUP $MAINPID
