[Unit]
Description=VNC Per-Connection Server
After=syslog.target

[Service]
User=nemo
Group=privileged
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/100000/dbus/user_bus_socket
Environment=XDG_RUNTIME_DIR=/run/user/100000
# Include common nemo project wide env settings
EnvironmentFile=-/var/lib/environment/nemo/*.conf
ExecStart=-/usr/bin/mervncserver
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=network.target
